@charset "UTF-8";

html {
  /* 横方向スクロールバー回避 */
  overflow-x: hidden;
}

body {
  font-size: 16px;
  /* 横方向スクロールバー回避 */
  overflow-x: hidden;
}

header,
footer {
  background-color: #ccc;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#canvas {
  display: block;
  height: 100vh;
  width: 100%; /* 100vwだとスクロールバーが出る */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.photo {
  max-width: 512px;
  /* height: 256px; */
  aspect-ratio: 512 / 256;
  margin-inline: auto;
}

.caption {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 400px;
}

.imageSection{
  max-width: 600px;
  margin-inline: auto;
}

@media (max-width: 640px) {
  .imageSection{
    margin-inline: 20px;
  }
}

#stickyWrap1 {
  height: 200vh; /* これは残す！ */
  background-color: rgba(255, 0, 0, 0.2);
}

#stickyWrap2 {
  height: 250vh; /* これは残す！ */
  background-color: rgba(0, 255, 0, 0.2);
}

