@charset "UTF-8";

html {
  /* 横方向スクロールバー回避 */
  overflow-x: hidden;
}

body {
  font-size: 16px;
  /* 横方向スクロールバー回避 */
  overflow-x: hidden;
}

header,
footer {
  background-color: #ccc;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

#canvas {
  display: block;
  height: 100vh;
  width: 100%; /* 100vwだとスクロールバーが出る */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.dummyMargin {
  height:100vh; 
  background-color: rgba(0, 0, 255, 0.05);  
  border: 1px solid #00f; 
  text-align: center;  
  display: grid; /* 中央寄せ */
  place-items: center; /* 中央寄せ */
}

.caption {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 400px;
}

.imageSection{
  max-width: 600px;
  margin-inline: auto;
}

@media (max-width: 640px) {
  .imageSection{
    margin-inline: 20px;
  }
}

/* pin（スクロール中に固定する）のトリガー（レッツノート用） */
/* #stickyWrap1 {
  background-color: rgba(255, 0, 0, 0.2);
} */

/* pin（スクロール中に固定する）のトリガー（iPhone用） */
/* #stickyWrap2 {
  background-color: rgba(0, 255, 0, 0.2);
} */

/* キャプション */
.switchableCaption {
  max-width: 500px;
  margin-inline: auto;
  border: 1px solid #666;
  padding: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.switchableCaption ul {
  padding: 0;
  margin: 0;
}
.switchableCaption ul li {
  list-style: none;
}
